[user]
	name = Zeuxis Lo
	email = seekstudio@gmail.com
[core]
	excludesfile = /Users/zeuxis/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[commit]
	template = /Users/zeuxis/.stCommitMsg
